*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67, 68, 85);
    background: rgb(255, 255, 255);
    width: 1440px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
}

ul,
ol {
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

img {
    display: block;
}

h3 {
    color: rgb(46, 47, 66);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-title {
    color: rgb(46, 47, 66);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.top-line {
    border-bottom: 1px solid rgb(231, 233, 252);
}

/* .container-header {
    display: flex;
    width: 1128px;
    align-items: center;
    margin: auto;
    max-width: ;
    padding-left: ;
    padding-right: ;
    margin-left: ;
    margin-right: ;
} */

.navigation {
    display: flex;
    align-items: center;
}

.top-logo {
    border: 1px solid rgb(0, 0, 0);
    margin-right: 76px;
}

.top-logo,
.foot-logo {
    font-family: "Raleway", sans-serif;
    color: rgb(77, 90, 229);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.top-logo-accent {
    color: rgb(46, 47, 66);
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    width: 261px;
    margin-right: 332px;
    color: rgb(46, 47, 66);
    font-weight: 500;
    gap: 40px;
}

.nav-link {
    padding: 24px 0;
}

.nav-link:hover,
.address-link:hover {
    color: rgb(64, 75, 191);
}

.nav-link:focus,
.address-link:focus {
    color: rgb(64, 75, 191);
}

.address-section {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

/* .address-list:first-child {
    gap: 40px;
} */

.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    flex-direction: column;
    padding: 0 15px;
    /* align-items: center; */
}

.hero-section {
    color: rgb(255, 255, 255);
    background: rgb(46, 47, 66);
    padding: 188px 0;
}

.hero-title {
    color: rgb(255, 255, 255);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
}

.hero-button {
    color: rgb(255, 255, 255);
    background: rgb(77, 90, 229);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background: rgb(64, 75, 191);
}

.advanteges-section {
    padding: 120px 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 72px) / 4);
}

.advantages-title {
    margin-bottom: 8px;
}

.studio-section {
    background: rgb(244, 244, 253);
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    width: calc((100% - 72px) / 4);
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 0px 0px 4px 4px;
}

.team-card-text {
    padding: 32px 0;
}

.team-card-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-card-paragraph {
    font-size: 16px;
    text-align: center;
}

.portfolio-section {
    padding: 120px 0 120px 0;
}

.portfolio-section-title {
    color: rgb(46, 47, 66);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item-text {
    padding: 32px 16px;
    border: 1px solid rgb(231 233 252);
    border-top: none;
    margin-bottom: 8px;
}

.portfolio-title {
    margin-bottom: 8px;
}

.foot-line {
    background: rgb(46, 47, 66);
    color: rgb(244, 244, 253);
    padding: 100px 0;
}

.foot-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.foot-logo-accent {
    color: rgb(244, 244, 253);
}

.foot-text {
    letter-spacing: 0.02em;
    width: 264px;
}

