*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67, 68, 85);
    background: rgb(255, 255, 255);
    width: 1440px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
}

ul,
ol {
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

img {
    display: block;
}

h3 {
    color: rgb(46, 47, 66);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-title {
    color: rgb(46, 47, 66);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.container-header {
    display: flex;
    width: 1128px;
    border-bottom: 1px solid rgb(231, 233, 252);
    align-items: center;
    margin: auto;
    /* max-width: ; */
    /* padding-left: ; */
    /* padding-right: ; */
    /* margin-left: ; */
    /* margin-right: ; */
}

.navigation {
    display: flex;
    align-items: center;
}

.top-logo {
    border: 1px solid rgb(0, 0, 0);
    margin-right: 76px;
}

.top-logo,
.foot-logo {
    font-family: "Raleway", sans-serif;
    color: rgb(77, 90, 229);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
}

.top-logo-accent {
    color: rgb(46, 47, 66);
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    width: 261px;
    margin-right: 332px;
    color: rgb(46, 47, 66);
    font-weight: 500;
}

.nav-link:hover,
.address-link:hover {
    color: rgb(64, 75, 191);
}

.nav-link:focus,
.address-link:focus {
    color: rgb(64, 75, 191);
}

.address-section {
    font-style: normal;
}

.address-list {
    display: flex;
}

.address-list:first-child {
    gap: 40px;
}

.container {
    display: flex;
    width: 1128px;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    color: rgb(255, 255, 255);
    background: rgb(46, 47, 66);
}

.hero-title {
    color: rgb(255, 255, 255);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    width: 496px;
}

.hero-button {
    color: rgb(255, 255, 255);
    background: rgb(77, 90, 229);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    width: 169px;
}

.hero-button:hover,
.hero-button:focus {
    background: rgb(64, 75, 191);
}

.studio-section {
    background: rgb(244, 244, 253);
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-card {
    text-align: center;
    background: rgb(255, 255, 255);
}

.team-card-paragraph {
    font-size: 16px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-section-title {
    color: rgb(46, 47, 66);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.foot-line {
    background: rgb(46, 47, 66);
    color: rgb(244, 244, 253);
}

.foot-logo-accent {
    color: rgb(244, 244, 253);
}

.foot-text {
    letter-spacing: 0.02em;
    width: 264px;
}

